tensorflow==2.14.0
tensorflow-macos==2.14.0
tensorboard
numpy<2.0.0
keras==2.14.0
scikeras
pandas
scikit-learn
matplotlib
nltk
streamlit
pydantic>=2.0,<2.12
typer>=0.12,<1.0
transformers>=4.41.0,<5.0.0
